theme = Dark+

background-blur-radius = 20
keybind = global:ctrl+;=toggle_quick_terminal
{{ if eq .chezmoi.os "linux" -}}
keybind = ctrl+m=toggle_tab_overview
background-opacity = 0.85
# Use SSD instead of CSD
window-decoration = auto
# This now works, but there is no way to see how many tabs there are, and that is problematic
#gtk-tabs-location = hidden
gtk-tabs-location = top
{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
background-opacity = 0.95
font-size = 15
font-thicken = true
window-save-state = always
{{- end }}
