k9s:
  liveViewAutoRefresh: false
  {{ if eq .chezmoi.os "darwin" -}}
  screenDumpDir: /home/filip/.config/k9s/screen-dumps
  {{- else if eq .chezmoi.os "linux" -}}
  screenDumpDir: /Users/FMilkovic/.config/k9s/screen-dumps
  {{- end }} 
  refreshRate: 2
  maxConnRetry: 5
  readOnly: false
  noExitOnCtrlC: false
  ui:
    enableMouse: false
    headless: false
    logoless: false
    crumbsless: false
    reactive: false
    noIcons: false
    defaultsToFullScreen: false
    skin: nightfox
  skipLatestRevCheck: false
  disablePodCounting: false
  shellPod:
    image: busybox:1.35.0
    namespace: default
    limits:
      cpu: 100m
      memory: 100Mi
  imageScans:
    enable: false
    exclusions:
      namespaces: []
      labels: {}
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: -1
    textWrap: false
    showTime: false
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 80
